<a href="https://colab.research.google.com/github/arup-ru/arup-ru/blob/main/Tut_Upload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Weblink

In [18]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

--2021-11-08 23:08:41--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.001s

2021-11-08 23:08:41 (90.7 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [19]:
!ls

drive  sample_data  titanic.csv

In [20]:
import pandas as pd

In [22]:
pd.read_csv('titanic.csv',sep=',').head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

# Drive

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Git

In [23]:
!git clone https://github.com/arup-ru/bank-marketing.git

Cloning into 'bank-marketing'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 60 (delta 25), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (60/60), done.

# Local

In [ ]:
# Just Press Upload Button (temporary file)

In [25]:
pd.read_csv('Housing.csv',sep=',').head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]



---



---



# Math Expression (inside $)

$ x_1 = \frac {-b + \sqrt {b^2-4ac}}{2a} $



---